<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero-secondory" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 col-md-7 pt-5 pt-lg-0 d-flex flex-column justify-content-center"
          >
            <h1 data-aos="fade-up">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Est.
            </h1>
            <p data-aos="fade-up" data-aos-delay="400">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed,
              reprehenderit doloribus. Omnis ab voluptates eos libero maiores
              esse quo tempore delectus quis, optio neque fugit.
            </p>
            <div data-aos="fade-up" data-aos-delay="800">
              <a href="/" class="btn-get-started">Book free consultation</a>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-5 hero-img"
            data-aos="fade-left"
            data-aos-delay="200"
          >
            <img
              src="/assets/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= value Section ======= -->
      <section id="value" class="value">
        <div class="container">
          <div class="row d-flex">
            <div class="col-md-6 d-flex mb-5 mb-lg-0">
              <div class="img-value" data-aos="fade-up">
                <img src="/assets/img/value-bg.png" alt="" />
              </div>
            </div>
            <div class="col-md-6 d-flex">
              <div class="value-content" data-aos="fade-up">
                <h1 class="h5">Lorem, ipsum dolor.</h1>
                <h2 class="h2">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </h2>
                <p data-aos="fade-up">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quibusdam necessitatibus tenetur beatae aperiam atque optio
                  iure eos sint quaerat delectus possimus, odit itaque officiis
                  ipsum! Nam veniam rerum cumque, a sed eius facere officiis
                  quis sapiente tempore accusantium quos eveniet inventore
                  voluptate pariatur repellendus quaerat nostrum atque soluta
                  vel optio! <br /><br />
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Obcaecati architecto provident quibusdam minima, quod
                  molestiae cumque iste mollitia minus corporis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End value Section -->

      <!-- ======= value Section 2======= -->
      <section id="value" class="value section-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-6 d-flex mb-5 mb-lg-0 order-1">
              <div class="img-value" data-aos="fade-up">
                <img src="/assets/img/lorem.png" alt="" />
              </div>
            </div>
            <div class="col-md-6 d-flex order-0">
              <div class="value-content" data-aos="fade-up">
                <h1 class="h5">Lorem, ipsum dolor.</h1>
                <h2 class="h2">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </h2>
                <p data-aos="fade-up">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quibusdam necessitatibus tenetur beatae aperiam atque optio
                  iure eos sint quaerat delectus possimus, odit itaque officiis
                  ipsum! Nam veniam rerum cumque, a sed eius facere officiis
                  quis sapiente tempore accusantium quos eveniet inventore
                  voluptate pariatur repellendus quaerat nostrum atque soluta
                  vel optio! <br /><br />
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Obcaecati architecto provident quibusdam minima, quod
                  molestiae cumque iste mollitia minus corporis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End value Section 2-->

      <!-- ======= green call to action======= -->
      <section id="cta-green" class="cta-green section-bg">
        <div
          class="container green-bg d-flex justify-content-center align-items-center"
          data-aos="fade-up"
        >
          <div class="row">
            <div
              class="col cta-content justify-content-center align-items-center"
            >
              <h1 class="h2">Lorem ipsum dolor sit amet,</h1>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore
                <br />
                veniam, ad magnam maiores quod quos.
              </p>
              <a href=""><img src="/assets/img/app-logo.png" alt="" /></a>
            </div>
          </div>
        </div>
      </section>
      <!-- End green call to action-->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    <!-- ======= back-to-top ======= -->
    {{ partial "back_to_top.html" . }}
    <!-- End back-to-top -->

    <!-- ======= script ======= -->
    {{ partial "script.html" . }}
    <!-- script -->
  </body>
</html>
