<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 col-md-7 pt-5 pt-lg-0 d-flex flex-column justify-content-center"
          >
            <h1 data-aos="fade-up">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Est.
            </h1>
            <p data-aos="fade-up" data-aos-delay="400">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed,
              reprehenderit doloribus. Omnis ab voluptates eos libero maiores
              esse quo tempore delectus quis, optio neque fugit.
            </p>
            <div class="app-store">
              <a href="" class="apple-icon" data-aos="fade-up"
                ><i class="bi bi-apple"></i>
                <p>
                  Download On the <br />
                  <span>App Store</span>
                </p>
              </a>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-5 hero-img"
            data-aos="fade-left"
            data-aos-delay="200"
          >
            <img
              src="assets/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>
              Lorem Ipsum dummy text <br />of the printing and typesetting
              industry.
            </h2>
            <p>
              Lorem ipsum dolor sit amet <br />consectetur adipisicing elit.
              Optio recusandae eaque voluptate deleniti nemo quos?
            </p>
          </div>

          <div class="row content">
            <div
              class="col d-flex justify-content-center"
              data-aos="fade-up"
              data-aos-delay="150"
            >
              <div class="tile-box">
                <i class="bi bi-slack color--1"></i>
              </div>
            </div>
            <div
              class="col d-flex justify-content-center"
              data-aos="fade-up"
              data-aos-delay="150"
            ></div>
            <div
              class="col d-flex justify-content-center"
              data-aos="fade-up"
              data-aos-delay="150"
            >
              <div class="tile-box">
                <i class="bi bi-apple color--2"></i>
              </div>
            </div>
            <div
              class="col d-flex justify-content-center"
              data-aos="fade-up"
              data-aos-delay="150"
            ></div>
            <div
              class="col d-flex justify-content-center"
              data-aos="fade-up"
              data-aos-delay="150"
            >
              <div class="tile-box">
                <i class="bi bi-bootstrap color--3"></i>
              </div>
            </div>
          </div>
          <div class="row content">
            <div
              class="col d-flex justify-content-center"
              data-aos="fade-up"
              data-aos-delay="150"
            ></div>
            <div
              class="col d-flex justify-content-center"
              data-aos="fade-up"
              data-aos-delay="150"
            >
              <div class="tile-box">
                <i class="bi bi-git color--5"></i>
              </div>
            </div>
            <div
              class="col d-flex justify-content-center"
              data-aos="fade-up"
              data-aos-delay="150"
            ></div>
            <div
              class="col d-flex justify-content-center"
              data-aos="fade-up"
              data-aos-delay="150"
            >
              <div class="tile-box">
                <i class="bi bi-code color--4"></i>
              </div>
            </div>
            <div
              class="col d-flex justify-content-center"
              data-aos="fade-up"
              data-aos-delay="150"
            ></div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>
              Magnam dolores commodi suscipit eius consequatur ex aliquid fug
            </p>
          </div>

          <div class="row">
            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                <p class="description">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">Magni Dolores</a></h4>
                <p class="description">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">Nemo Enim</a></h4>
                <p class="description">
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui
                  blanditiis
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= value Section ======= -->
      <section id="value" class="value">
        <div class="container">
          <div class="row d-flex">
            <div class="col-md-6 d-flex mb-5 mb-lg-0">
              <div class="img-value" data-aos="fade-up">
                <img src="/assets/img/value-bg.png" alt="" />
              </div>
            </div>
            <div class="col-md-6 d-flex">
              <div class="value-content" data-aos="fade-up">
                <h1 class="h5">Lorem, ipsum dolor.</h1>
                <h2 class="h2">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </h2>
                <p data-aos="fade-up">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quibusdam necessitatibus tenetur beatae aperiam atque optio
                  iure eos sint quaerat delectus possimus, odit itaque officiis
                  ipsum! Nam veniam rerum cumque, a sed eius facere officiis
                  quis sapiente tempore accusantium quos eveniet inventore
                  voluptate pariatur repellendus quaerat nostrum atque soluta
                  vel optio! <br /><br />
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Obcaecati architecto provident quibusdam minima, quod
                  molestiae cumque iste mollitia minus corporis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End value Section -->

      <!-- ======= value Section 2======= -->
      <section id="value" class="value section-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-6 d-flex mb-5 mb-lg-0 order-1">
              <div class="img-value" data-aos="fade-up">
                <img src="/assets/img/lorem.png" alt="" />
              </div>
            </div>
            <div class="col-md-6 d-flex order-0">
              <div class="value-content" data-aos="fade-up">
                <h1 class="h5">Lorem, ipsum dolor.</h1>
                <h2 class="h2">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </h2>
                <p data-aos="fade-up">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quibusdam necessitatibus tenetur beatae aperiam atque optio
                  iure eos sint quaerat delectus possimus, odit itaque officiis
                  ipsum! Nam veniam rerum cumque, a sed eius facere officiis
                  quis sapiente tempore accusantium quos eveniet inventore
                  voluptate pariatur repellendus quaerat nostrum atque soluta
                  vel optio! <br /><br />
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Obcaecati architecto provident quibusdam minima, quod
                  molestiae cumque iste mollitia minus corporis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End value Section 2-->

      <!-- ======= green call to action======= -->
      <section id="cta-green" class="cta-green section-bg">
        <div
          class="container green-bg d-flex justify-content-center align-items-center"
          data-aos="fade-up"
        >
          <div class="row">
            <div
              class="col cta-content justify-content-center align-items-center"
            >
              <h1 class="h2">Lorem ipsum dolor sit amet,</h1>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore
                <br />
                veniam, ad magnam maiores quod quos.
              </p>
              <a href=""><img src="/assets/img/app-logo.png" alt="" /></a>
            </div>
          </div>
        </div>
      </section>
      <!-- End green call to action-->

      <!-- ======= Text section======= -->
      <section id="text-section" class="text-section">
        <div class="container extra-padding" data-aos="fade-up">
          <!-- image section-->
          <div
            class="row justify-content-between align-items-center border-bottom"
          >
            <div class="col-12 col-md-6 text-content">
              <h1 class="h5">Lorem ipsum is</h1>
              <h2 class="h3">
                Lorem dummy of the printing and typesetting industry.
              </h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's
              </p>
            </div>

            <div class="col-12 col-md-6 text-img mx-auto">
              <img src="/assets/img/section-bg.png" alt="" />
            </div>
          </div>
          <!-- image section-->
          <!-- image section-->
          <div
            class="row justify-content-between align-items-center border-bottom"
          >
            <div class="col-12 col-md-6 text-content">
              <h1 class="h5">Lorem ipsum is</h1>
              <h2 class="h3">
                Lorem dummy of the printing and typesetting industry.
              </h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's
              </p>
            </div>

            <div class="col-12 col-md-6 text-img mx-auto">
              <img src="/assets/img/section-bg.png" alt="" />
            </div>
          </div>
          <!-- image section-->
          <!-- image section-->
          <div
            class="row justify-content-between align-items-center border-bottom"
          >
            <div class="col-12 col-md-6 text-content">
              <h1 class="h5">Lorem ipsum is</h1>
              <h2 class="h3">
                Lorem dummy of the printing and typesetting industry.
              </h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's
              </p>
            </div>

            <div class="col-12 col-md-6 text-img mx-auto">
              <img src="/assets/img/section-bg.png" alt="" />
            </div>
          </div>
          <!-- image section-->
        </div>
      </section>
      <!-- End text section-->

      <!-- ======= white call to action======= -->
      <section id="cta-white" class="cta-white">
        <div
          class="container cta-white-content d-flex justify-content-center align-items-center"
          data-aos="fade-up"
        >
          <div class="row">
            <div
              class="col cta-content justify-content-center align-items-center"
            >
              <img src="/assets/img/numen-logo.png" alt="" />
              <h1 class="h2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est,
                aliquam.
              </h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="/">Book free consultation</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End white call to action-->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    <!-- ======= back-to-top ======= -->
    {{ partial "back_to_top.html" . }}
    <!-- End back-to-top -->

    <!-- ======= script ======= -->
    {{ partial "script.html" . }}
    <!-- script -->
  </body>
</html>
